body{
    margin: 0px;
    background-color: rgba(227, 227, 227, 0.863);
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    color: rgb(134, 122, 56);
    font-size: 30px;
    text-align: left;
}
h1 img{
    height: 50px;
    float: right;
}
.navbar ul{
    list-style-type: none; 
    background-color: hsl(208, 69%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px; 
    display: block;
    text-align: center;
}

.navbar a:hover {
    color: hsl(0, 0%, 100%);
    background-color: rgb(134, 122, 56);
}

.navbar li{
    float: right;
    
}

h2{
    color: rgb(134, 122, 56);
    font-size: 25px;
    text-align: left;
    list-style-type: none;
    
}

